body {
  background-color: #444;
  background-image: url(858494309dbee70ae86ca64745e3bcb1.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19b3e6;
  color: #fff;
  font-size: 1.8em; }

